@import "mixinsDoNaruto.scss";
@import url('https://fonts.googleapis.com/css?family=Germania+One');

.menu
{
    i
    {
        cursor: pointer;
        transition: 0.5s;
        position: absolute;
        top: -1vh;
        right: 0;
        top: -15vh;
        &:hover
        {
            color: white;
        }
    }
}

.editando
{
    max-width: 70%;
    // border-right: 4pt solid white;
}

@keyframes plus
{
    50%
    {
        transform: rotate(360deg);
    }
   100%
   {
    transform: rotate(360deg);
   }
    
}

.logo
{
    max-height: 70pt;
    max-width: 60pt;
    min-height: 70pt;
    min-width: 60pt;
}

.edit
{
    z-index: -1;
    position: fixed;
    right: 0%;
    top: 0;
    width: 30%;
    background: blue;
    height: 100vh;
   
    
    span
    {
        margin: 10px;
        @include font-edictor($shiro, 2, 20pt, 800);
        input, textarea
        {
            @include font-edictorS(black, 2, 20pt, 200);
            border-radius: 20pt;
            padding: 5pt;
            border: none;
            outline: none;
        }
        padding: 10pt;
        i
        {
            margin-right: 1vw;
            font-size: 30pt;
            &:hover
            {
                animation-name: plus;
                    animation-duration: 1.2s;
                    animation-iteration-count: 1;
                    cursor: pointer;
            }
        }
        
    }
    .hh
    {
        margin: 10px;
        @include font-edictor($shiro, 1, 42pt, 800);
    }
    
}

.menu
{
    z-index: 4;
}
.conteudo
{
   
    @extend %conteudo-centralizadoC;
    .back
    {
        z-index: 0;
        position: absolute;
        background: rgba($color: #000000, $alpha: 0.6);
        height: 100%;
        width: 100%;
        top: 29%;
      
    }
}

.navbar
{
    z-index: 100000000000000000000000000099999999999999;
}



