

@import "mixinsDoNaruto.scss";
@import "home.scss";
@import "editorMaster.scss";

html
{
    @include alterPageColor($historia);
    // #menuToggle
    // {
    //     background: $historia;
    // }

    
}

body
{
    .fundo
    {
        background: url("https://imgnooz.com/sites/default/files/wallpaper/travel/66405/hohenzollern-castle-wallpapers-66405-6505983.jpg");
    }

    
    

    // max-height: 100vh;
}



$weight: 10, 500, 900;

@for $i from 1 through 3
{
    #f#{$i}
    {
        font-family: nth($fonts, $i);
        cursor: pointer;
        &:target
        {
            color: black;
        }
    }

    html .conteudo .back .w#{$i}
    {
        font-weight: nth($weight, $i);
        // font-family: nth($list: $fonts, $n: 3);
        cursor: pointer;
    }
}

html .conteudo .back p
{
    color: white;
}


input
{
    opacity: 10;
}

