@import "mixinsDoNaruto.scss";


$array: red, blue, yellow, green, orange;

@for $i from 1 through 4
{
    @keyframes btnMenu#{nth($array, $i)}
    { 0% { background: nth($array, $i); }
    50% { background: darken(nth($array, $i), 60%); }
    100% { background: nth($array, $i); } }
}

    


$kuro: #36454F;
$shiro: #FFFAFA;
$masterColor: #356ab4; 
$midori: rgb(22, 163, 116); 
$murasaki: rgb(68, 13, 94); 
$chairo: rgb(181, 135, 99);
$momoiro: rgb(247, 222, 183);
$med1: 'Srisakdi', cursive;
$med2: 'Raleway', sans-serif;
        
@keyframes btnMenu
{ 0% { background: $masterColor; }
50% { background: darken($masterColor, 60%); }
100% { background: $masterColor; } }
%mp
{
    margin: 0;
   padding: 0;
}

%back-fixo
{
    background-attachment: fixed;
    background-size: 50%;
    background-repeat: no-repeat;
}

body
{
   @extend %mp;
   background: $masterColor;
   @extend %back-fixo;
 

   
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $masterColor; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: whitesmoke;
    max-height: 4px;
    border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lighten($masterColor, 20%); 
}

%conteudo-centralizadoR
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

%conteudo-centralizadoC
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin font-medieval($color, $numb, $size) 
{
    @if $numb == 1
    {
        font-weight: 700;
        font-family: $med1;
    }
    @else
    {
        font-family: $med2;
        font-weight: 600;
    }
    color: $color;
    font-size: $size;
    text-shadow: 1px 1px 3px darken($color, 85%);
}

@mixin back-text($colorB, $colorT) 
{
    background: $colorB;
    color: $colorT;
}





.fundo
{
    overflow: auto;
    min-height: 50vh;
    background: url('https://images.pexels.com/photos/301469/pexels-photo-301469.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    img
    {
        width: 100%;
        position: absolute;
        z-index: 0;
        overflow: hidden;
        
    }
}


.navbar
{
    
    @extend %conteudo-centralizadoR;
    min-height: 20vh;
    @include back-text($masterColor, $shiro);
    span
    {
        @include font-medieval(whitesmoke, 1, 50pt);
        padding-bottom: 2.5vh;
        border-bottom: 4px solid lighten($masterColor, 20%);
    }
    i
    {
       font-size: 60pt;
    }
}




.menu
{
    @extend %mp;
    @extend %conteudo-centralizadoR;
   background: none;
    
    max-height: 3vh;  
    padding-top: 3vh;
    padding-bottom: 3vh;
    position: sticky;
    top: 0;
    min-height: 3vh;
   
    a
    {
       
        // text-transform: uppercase;
        color: $chairo;
        letter-spacing: 2px;
        /* PC */
        @include font-medieval(whitesmoke, 2, 20pt);
        margin-right: 2vw;  
        padding: 12.5px;
        transition: 0.5s;
        

        &:hover
        {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 50px;
            
          
        }
        
    }
    i
    {
        font-size: 30pt;
        // background: rgb(85, 50, 30);
        border: 2px solid $momoiro;
        padding: 10px;
        border-radius: 50px;
        float: left;
        margin: 20px;
    }
}

