@import "mixinsDoNaruto.scss";


body
{
    margin: 0;
    padding:  0;
    
   
     
    @include mq(phone)
    {
       background: url("https://i.pinimg.com/564x/1a/cc/b7/1accb78b3e9cafcfcdc4c3d9c6995765.jpg") no-repeat center center fixed;
       background-size: 100%;
    background-attachment: fixed;
    }

    
    @include mq(tablet)
    {
        background: url("https://images7.alphacoders.com/589/589602.jpg") no-repeat center center fixed;
        background-size: 100%;
        background-attachment: fixed;
    }
    
}


@keyframes btnAnimation
{
    0%
    {
        background: $chat;
    }
    50%
    {
        background: mediumspringgreen;
        border: 2px solid mediumspringgreen;
    }
    100%
    {
        background: $chat;
    }
}



.central
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10em;


    
    .login
    {
        background: rgba(0, 0, 0, 0.726);
        padding: 50pt;
        @include mq(phone)
        {
            border-radius: 0;
            margin-top: 0;            
         
        }
        @include mq(tablet)
        {

            margin-top: 10%;
        border-radius: 40pt;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        p
        {
            @include font-edictor(whitesmoke, 3, 20pt, 00);
            margin-top: -3vh;
            
        }
        h1
        {
            @include font-edictor(whitesmoke, 1, 50pt, 700);
            padding-bottom: 2.5vh;
           
            i
            {
                font-size: 60pt;
                @include mq(phone)
                {
                    font-size: 40pt;
                }
            }
            @include mq(phone)
            {
                    @include font-edictor(whitesmoke, 1, 35pt, 00);
            }
        }
        span
        {
            @include font-edictor(whitesmoke, 2, 25pt, 600);
            input
            {
                @include font-edictor(whitesmoke, 2, 20pt, 600);
                background: none;
                border: none;
                outline: none;
                margin-left: 1vw;
                border-bottom: 2pt solid $chat;
            }
        }
        a
        {
            @include font-edictor(whitesmoke, 2, 20pt, 550);
            padding: 6pt;
            border-radius: 50pt;
            border: 2px solid $chat;
            margin: 10pt;
            cursor: pointer;
            transition: 0.5s;
            &:hover
            {
                @include mq(desktop)
                {
                    background: $chat;
                    animation-name: btnAnimation;
                    animation-duration: 1.2s;
                    animation-iteration-count: infinite;
                }
                
            }
        }
        
    }
}


img 
{
    height: 70px;
    width: 60px;
    margin-top: -10em;
    @include mq('phone') {
        display: none;
    }
    @include mq('tablet-wide') {
        display: block;
    }
}

// copied

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 300vh;
	background: #eeeeee;
}

.loader {
	max-width: 15rem;
	width: 100%;
	height: auto;
    stroke-linecap: round;
    
}

circle {

     
    @include mq('phone') {
        display: none;
    }
    
    @include mq('tablet-wide') {
        display: block;
        fill: none;
        stroke-width: 10;
        animation-name: preloader;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        transform-origin: 170px 170px;
        will-change: transform;
    
        &:nth-of-type(1) {
            stroke-dasharray: 550px;
        }
    
        &:nth-of-type(2) {
            stroke-dasharray: 500px;
        }
    
        &:nth-of-type(3) {
            stroke-dasharray: 450px;
        }
    
        &:nth-of-type(4) {
            stroke-dasharray: 300px;
        }
    
        @for $i from 1 through 4 {
            &:nth-of-type(#{$i}) {
                animation-delay: -#{$i * 0.15}s;
            }
        }
    }
   
	
    
  
}

@keyframes preloader {
	50% {
		transform: rotate(450deg);
	}
}
