
@import url("https://fonts.googleapis.com/css?family=Germania+One");
a {
  text-decoration: none; }

.menu {
  display: flex;
  justify-content: center;
  align-items: center; }

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

@keyframes btnMenu {
  0% {
    background: #356ab4; }
  50% {
    background: black; }
  100% {
    background: #356ab4; } }
body, .menu {
  margin: 0;
  padding: 0; }

body {
   
  background-attachment: fixed;
  background-size: 50%;
  background-repeat: no-repeat; }

body {
    background: #356ab4;
    background-image: linear-gradient(#356ab4 60%, #78a0d7);
    list-style: none;
}



.fundo {
  overflow: auto;
  min-height: 50vh;
  background-attachment: fixed;
  background-position: center center;
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100%;
  top: 0; }
  @media only screen and (min-width: 320px) {
    .fundo {
      background: url("https://lh5.googleusercontent.com/VuIeKqEjo3G7jE5U1bKyEZcY6fsz6IS9RyBHiy8ODKRZGQeR08PAH-2OApXc1lZ8BhZnEhX8TASAb9UjMv_4=w1960-h3438-rw");
      background-size: 100%;
      background-position: fixed; } }
  @media only screen and (min-width: 768px) {
    .fundo {
      background-size: cover;
      background: url("https://images.pexels.com/photos/301469/pexels-photo-301469.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); } }

@media only screen and (min-width: 320px) {
  .navbar span {
    font-weight: 600;
    font-family: "Allura";
    color: whitesmoke;
    font-size: 40pt;
    text-shadow: 1px 1px 1px #1c1c1c; }
    .navbar span i {
      background: transparent; }
  .navbar a {
    margin-top: 2em; }
    .navbar .perfil {
        color: white;
        font-size: 200px;
        margin-left: 0.7em;
        border-radius: 500pt;
        overflow: hidden;
        height: 0.5em;
        width: 0.5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 100pt;
        overflow: hidden;
        border: 3.5pt solid #9fbbe3;
    }
    .navbar .perfil a{
        margin-top: 0;
        
    }
    .navbar .perfil:active {
      border: 3.5pt solid whitesmoke; }
        .navbar .perfil img {
            max-height: 0.6em;
            max-widht: 0.6em;
        } }
@media only screen and (min-width: 1024px) {
  .navbar {
    min-height: 20vh;
    background: #356ab4;
    color: #FFFAFA; }
    .navbar span {
      font-weight: 600;
      font-family: "Allura";
      color: whitesmoke;
      font-size: 70pt;
      text-shadow: 1px 1px 1px #1c1c1c;
      padding-bottom: 1.5vh;
      margin-left: 2em; }
    .navbar i {
      font-size: 70pt; } }

/*  img 
  {
      height: 70px;
      width: 60px;
      
  }*/
.menu {
  background: none;
  max-height: 3vh;
  padding-top: 2vh;
  padding-bottom: 4vh;
  position: static;
  top: 0;
  min-height: 3vh;
  transition: 0.5s; }
  @media only screen and (min-width: 320px) {
    .menu {
      flex-direction: column; } }
  @media only screen and (min-width: 1024px) {
    .menu {
      flex-direction: row; } }
  .menu a {
    letter-spacing: 2px;
    /* PC */
    font-weight: 100;
    font-family: "Germania One";
    color: whitesmoke;
    font-size: 20pt;
    margin-right: 2vw;
    padding: 12.5px;
    transition: 0.5s;
    border-bottom: 3pt solid rgba(0, 0, 0, 0.198); }
    @media only screen and (min-width: 1024px) {
      .menu a:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 50px; } }
  .menu i {
    font-size: 30pt;
    padding: 10px;
    border-radius: 50px;
    float: left;
    margin: 20px; }

ul {
  padding: 0;
  list-style-type: none; }

input[type=checkbox] {
  opacity: 0; }

#menuToggle {
  position: sticky;
  transition: 0.5s; }
  @media only screen and (min-width: 1024px) {
    #menuToggle {
      background: #356ab4; }
      #menuToggle:hover {
        background: #356ab4; } }

@media only screen and (max-width: 500px) {
  .testTit {
    font-weight: 600;
    font-family: "Allura";
    color: whitesmoke;
    font-size: 20pt;
    text-shadow: 1px 1px 1px #1c1c1c;
    margin-right: -50em;
    margin-bottom: 2em;
    line-height: 1.5em; }
    .testTit i {
      background: transparent;
      position: absolute;
      top: 10%;
      left: 40%; }

  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -16.5vh;
    left: 14vw;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    max-width: 10px; }
    #menuToggle input {
      display: flex;
      width: 40px;
      height: 32px;
      position: absolute;
      cursor: pointer;
      opacity: 0;
      z-index: 2; }
      #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-3px, -1px);
        background: #36383F; }
      #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2); }
      #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px); }
      #menuToggle input:checked ~ .menu {
        transform: none;
        box-shadow: 0 0 100px black; }
      #menuToggle input:checked ~ #menuToggle {
        top: -6vh; }
    #menuToggle span {
      display: flex;
      width: 29px;
      height: 2px;
      margin-bottom: 5px;
      position: relative;
      background: #ffffff;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 5px 0px;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
      #menuToggle span:first-child {
        transform-origin: 0% 0%; }
      #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%; }

  .navbar {
    min-height: 10vh; }

  .menu {
    padding: 0;
    list-style-type: none;
    position: absolute;
    min-width: 50vw;
    min-height: 80vh;
    box-shadow: 0 0 1px black;
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: #356ab4;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    display: flex;
    flex-direction: column; }
    .menu a {
      text-decoration: none;
      opacity: 1;
      font-weight: 600;
      font-family: "Raleway";
      color: #f1f1f1;
      font-size: 20pt;
      transition: 200ms;
      padding: 10px 0;
      transition-delay: 2s;
      margin-top: -1px;
      position: relative;
      top: 0em; }
      .menu a:hover {
        background: none;
        outline: none; }
    .menu i {
      display: none; }
    .menu .mContent {
      margin-top: -20em; }
    .menu .fundo {
      min-width: 120%; } }
.elMenu {
  position: sticky;
  top: -10px;
  z-index: 9889889899898898998988989328989858943849984598398989898983953889; }

@media only screen and (min-width: 320px) {
  .menu .btnChat {
    box-shadow: none;
    border-radius: none; } }
@media only screen and (min-width: 1024px) {
  .menu .btnChat:hover {
    background: #1cbe88;
    border-bottom: 3.2pt solid #159268; } }

@media only screen and (min-width: 320px) {
  .menu .btnRegras {
    box-shadow: none;
    border-radius: none; } }
@media only screen and (min-width: 1024px) {
  .menu .btnRegras:hover {
    background: #b5222a;
    border-bottom: 3.2pt solid #8a1a20; } }

@media only screen and (min-width: 320px) {
  .menu .btnGame {
    box-shadow: none;
    border-radius: none; } }
@media only screen and (min-width: 1024px) {
  .menu .btnGame:hover {
    background: #36454F;
    border-bottom: 3.2pt solid #212b31; } }

@media only screen and (min-width: 320px) {
  .menu .btnHistoria {
    box-shadow: none;
    border-radius: none; } }
@media only screen and (min-width: 1024px) {
  .menu .btnHistoria:hover {
    background: #e64501;
    border-bottom: 3.2pt solid #b33601; } }

@media only screen and (min-width: 320px) {
  .menu .btnSobreNos {
    box-shadow: none;
    border-radius: none; } }
@media only screen and (min-width: 1024px) {
  .menu .btnSobreNos:hover {
    background: #5b2b85;
    border-bottom: 3.2pt solid #411f5e; } }

.logo {
  max-height: 70pt;
  max-width: 60pt;
  min-height: 70pt;
  min-width: 60pt; }

.topo {
  font-size: 40pt;
  position: fixed;
  bottom: 0;
  right: 10%;
  bottom: 5%;
  color: #356ab4;
  z-index: 909090;
  border-radius: 50px; }
  .topo i {
    background: white;
    border-radius: 50px;
    border: 2px solid #78a0d7;
    padding: 2px;
    padding-top: 1px; }

@media only screen and (min-width: 320px) {
  .slidershow {
    width: 24em;
    height: 15em;
    overflow: hidden; } }
@media only screen and (min-width: 1024px) {
  .slidershow {
    width: 60%;
    height: 100%;
    overflow: hidden; } }

.middle {
  position: relative;
  top: 2em;
  margin-top: 15em;
  left: 50%;
  transform: translate(-50%, -50%); }

.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex; }

.bar {
  border-radius: 50pt;
  height: 20px;
  width: 20px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s; }
  @media only screen and (min-width: 1024px) {
    .bar {
      width: 50px;
      height: 10px;
      border-radius: 0; } }
  .bar:hover {
    background: white; }

input[name="r"] {
  position: absolute;
  visibility: hidden; }

.slides {
  width: 500%;
  height: 100%;
  display: flex; }

.slide {
  width: 20%;
  transition: 0.6s; }
  .slide img {
    width: 100%;
    height: 100%; }

#r1:checked ~ .s1 {
  margin-left: 0; }

#r2:checked ~ .s1 {
  margin-left: -20%; }

#r3:checked ~ .s1 {
  margin-left: -40%; }

#r4:checked ~ .s1 {
  margin-left: -60%; }

#r5:checked ~ .s1 {
  margin-left: -80%; }

/*# sourceMappingURL=home.css.map */


.laka {
    position: absolute;
    top: 40%;
    left: 85%;
    transform: translate(-50%,-50%);
    z-index: 9999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
}



.input {
    width: 60px;
    height: 60px;
    background: none;
    border-radius: 50%;
    border: 4px solid #fff;
    box-sizing: border-box;
    outline: none;
    transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
    transition-delay: 0.4s;
    color: white;
    font-size: 21pt;
    letter-spacing: 0.05em;
    font-family: "Germania One";
     
}

.inclicked {
    width: 360px;
    border-radius: 100pt;
    padding: 0 15px;
    padding-right: 40px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.btn {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    right: 0;
    box-sizing: border-box;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

    .btn::before {
        content: "";
        width: 4px;
        height: 25px;
        background: white;
        position: absolute;
        transform: rotate(-45deg);
        bottom: -16px;
        right: -6px;
        transition: 0.3s;
         
    }

.close::before, .close::after {
    content: "";
    width: 4px;
    height: 34px;
    background: white;
    position: absolute;
    bottom: 12px;
    right: 28px;
}

.close::before {
    transform: rotate(-45deg);
}

.close::after {
    transform: rotate(45deg);
}

.notification {
    background: orangered;
    padding: 5pt 10pt;
    font-size: 15pt;
    font-family: "Raleway";
    font-weight: 600;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100pt;
    margin-left: 11em;
    position: absolute;
    top: 3em;
    color: white;
    z-index: 1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
}