/*@include mq('tablet-wide') {
    padding-top: 4rem;
    font-size: 2.4rem;
}*/
@import url("https://fonts.googleapis.com/css?family=Germania+One");
a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 320px) {
  body {
    background: url("https://i.pinimg.com/564x/1a/cc/b7/1accb78b3e9cafcfcdc4c3d9c6995765.jpg") no-repeat center center fixed;
    background-size: 120%;
    background-attachment: fixed;
  }
}
@media only screen and (min-width: 768px) {
  body {
    background: url("https://images7.alphacoders.com/589/589602.jpg") no-repeat center center fixed;
    background-size: 100%;
    background-attachment: fixed;
  }
}

@keyframes btnAnimation {
  0% {
    background: #1cbe88;
  }
  50% {
    background: mediumspringgreen;
    border: 2px solid mediumspringgreen;
  }
  100% {
    background: #1cbe88;
  }
}
.central {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media only screen and (min-width: 320px) {
  .central {
    margin-top: -18em;
    min-height: 100vh;
  }
}
@media only screen and (min-width: 1024px) {
  .central {
    background: rgba(0, 0, 0, 0.308);
    min-height: 125vh;
    margin-top: 0;
  }
}
.central .login {
  background: rgba(0, 0, 0, 0.726);
  padding: 50pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media only screen and (min-width: 320px) {
  .central .login {
    border-radius: 0;
    margin-top: 0;
  }
}
@media only screen and (min-width: 768px) {
  .central .login {
    margin-top: 10%;
    border-radius: 40pt;
  }
}
.central .login p {
  font-weight: 0;
  font-family: "Germania One";
  color: whitesmoke;
  font-size: 20pt;
  text-shadow: 1px 1px 1px #1c1c1c;
  margin-top: -3vh;
}
.central .login h1 {
  padding-bottom: 2.5vh;
}
.central .login h1 i {
  font-size: 60pt;
}
@media only screen and (min-width: 320px) {
  .central .login h1 i {
    font-size: 40pt;
  }
}
@media only screen and (min-width: 320px) {
  .central .login h1 {
    font-weight: 0;
    font-family: "Allura";
    color: whitesmoke;
    font-size: 42.5pt;
    text-shadow: 1px 1px 1px #1c1c1c;
  }
}
.central .login span {
  font-weight: 600;
  font-family: "Raleway";
  color: whitesmoke;
  font-size: 25pt;
  text-shadow: 1px 1px 1px #1c1c1c;
}
.central .login span input {
  font-weight: 600;
  font-family: "Raleway";
  color: whitesmoke;
  font-size: 20pt;
  text-shadow: 1px 1px 1px #1c1c1c;
  background: none;
  border: none;
  outline: none;
  margin-left: 1vw;
  border-bottom: 2pt solid #1cbe88;
}
.central .login a{
    font-weight: 550;
    font-family: "Raleway";
    color: whitesmoke;
    font-size: 20pt;
    text-shadow: 1px 1px 1px #1c1c1c;
    padding: 6pt;
    border-radius: 50pt;
    border: 2px solid #1cbe88;
    margin: 10pt;
    cursor: pointer;
    transition: 0.5s;
}

input.logaR {
    font-weight: 550;
    font-family: "Raleway";
    color: whitesmoke;
    font-size: 20pt;
    text-shadow: 1px 1px 1px #1c1c1c;
    padding: 6pt;
    border-radius: 50pt;
    border: 2px solid #1cbe88;
    margin: 10pt;
    cursor: pointer;
    transition: 0.5s;
}
@media only screen and (min-width: 1248px) {
  .central .login a:hover {
    background: #1cbe88;
    animation-name: btnAnimation;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
  }
}

img {
  height: 70px;
  width: 60px;
  margin-top: -10em;
}
@media only screen and (min-width: 320px) {
  img {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  img {
    display: block;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300vh;
  background: #eeeeee;
}

.loader {
  max-width: 15rem;
  width: 100%;
  height: auto;
  stroke-linecap: round;
}

@media only screen and (min-width: 320px) {
  circle {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  circle {
    display: block;
    fill: none;
    stroke-width: 10;
    animation-name: preloader;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform-origin: 170px 170px;
    will-change: transform;
  }
  circle:nth-of-type(1) {
    stroke-dasharray: 550px;
  }
  circle:nth-of-type(2) {
    stroke-dasharray: 500px;
  }
  circle:nth-of-type(3) {
    stroke-dasharray: 450px;
  }
  circle:nth-of-type(4) {
    stroke-dasharray: 300px;
  }
  circle:nth-of-type(1) {
    animation-delay: -0.15s;
  }
  circle:nth-of-type(2) {
    animation-delay: -0.3s;
  }
  circle:nth-of-type(3) {
    animation-delay: -0.45s;
  }
  circle:nth-of-type(4) {
    animation-delay: -0.6s;
  }
}

@keyframes preloader {
  50% {
    transform: rotate(450deg);
  }
}

/*# sourceMappingURL=inicio.css.map */
