
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <!-- <link rel="stylesheet" type="text/css" href="../css/menu.css"> -->
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/cadastro.css">
    <link rel="shortcut icon" type="imagem/x-icon" href="/images/genkii-icon.ico" />
    <title>Arce Chess - Home</title>
    <link href="https://fonts.googleapis.com/css?family=MedievalSharp|Srisakdi" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo+2|Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Allura" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
    <script src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous'></script>
    <meta charset="utf-8">
    <script>

    </script>
</head>
<body>

    <div class="central">
        <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
            <circle cx="170" cy="170" r="160" stroke="rgb(28, 190, 136)" />
            <circle cx="170" cy="170" r="135" stroke="white" />
            <circle cx="170" cy="170" r="110" stroke="rgb(28, 190, 136)" />
            <circle cx="170" cy="170" r="85" stroke="white" />
            <img src="~/Content/IMG/logoGreenB.png" alt="">
        </svg>
        <form action="/Home/Cadastro" class="login">
            <h1>
                Arce Chess <i class="fas fa-chess"></i>
            </h1>

            <p>Crie uma conta no nosso site!</p>
            <br>
            <span><i class="fas fa-user"></i><input type="text" name="usu.Nome" id="" placeholder="Nome de Usuário"></span>
            <br>
            <span><i class="fas fa-lock"></i><input type="password" name="usu.Senha" id="" placeholder="Senha"></span><br>
            <span><i class="fas fa-lock"></i><input type="password" name="" id="sen2" placeholder="Repetir Senha"></span>
            <br>
            <span><i class="fas fa-at"></i><input type="email" name="usu.Email" id="" placeholder="E-Mail"></span>
            <br>
            <input type="submit">

        </form>
    </div>



</body>



</html>