<center><canvas id="game"></canvas></center>

<script src="~/Content/JS/Xadrezz/Xadrez.js"></script>
<script src="~/Content/JS/Xadrezz/Coordenada.js"></script>
<script src="~/Content/JS/Xadrezz/Pieces/Piece.js"></script>
<script src="~/Content/JS/Xadrezz/Pieces/Torre.js"></script>
<script src="~/Content/JS/Xadrezz/Pieces/Cavalo.js"></script>
<script src="~/Content/JS/Xadrezz/Pieces/Bispo.js"></script>
<script src="~/Content/JS/Xadrezz/Pieces/Pawn.js"></script>
<script src="~/Content/JS/Xadrezz/Pieces/Rainha.js"></script>
<script src="~/Content/JS/Xadrezz/Pieces/Rei.js"></script>

<script>
    function initGame() {
        var pieces = [];

        pieces.push(new Torre(0, 0, "negras"));
        pieces.push(new Torre(7, 0, "negras"));
        pieces.push(new Cavalo(1, 0, "negras"));
        pieces.push(new Cavalo(6, 0, "negras"));
        pieces.push(new Bispo(2, 0, "negras"));
        pieces.push(new Bispo(5, 0, "negras"));
        pieces.push(new Rainha(3, 0, "negras"));
        pieces.push(new Rei(4, 0, "negras"));
        pieces.push(new Pawn(0, 1, "negras"));
        pieces.push(new Pawn(1, 1, "negras"));
        pieces.push(new Pawn(2, 1, "negras"));
        pieces.push(new Pawn(3, 1, "negras"));
        pieces.push(new Pawn(4, 1, "negras"));
        pieces.push(new Pawn(5, 1, "negras"));
        pieces.push(new Pawn(6, 1, "negras"));
        pieces.push(new Pawn(7, 1, "negras"));

        pieces.push(new Torre(0, 7, "brancas"));
        pieces.push(new Torre(7, 7, "brancas"));
        pieces.push(new Cavalo(1, 7, "brancas"));
        pieces.push(new Cavalo(6, 7, "brancas"));
        pieces.push(new Bispo(2, 7, "brancas"));
        pieces.push(new Bispo(5, 7, "brancas"));
        pieces.push(new Rainha(3, 7, "brancas"));
        pieces.push(new Rei(4, 7, "brancas"));
        pieces.push(new Pawn(0, 6, "brancas"));
        pieces.push(new Pawn(1, 6, "brancas"));
        pieces.push(new Pawn(2, 6, "brancas"));
        pieces.push(new Pawn(3, 6, "brancas"));
        pieces.push(new Pawn(4, 6, "brancas"));
        pieces.push(new Pawn(5, 6, "brancas"));
        pieces.push(new Pawn(6, 6, "brancas"));
        pieces.push(new Pawn(7, 6, "brancas"));

        main = new Xadrez(8, pieces);

        setInterval(function () { main.atualizarTela() }, 10)
    }
</script>

<!-- Modal 
<div id="modalPromote" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        Modal content
            <div class="modal-content" id="ModalInterno">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button> 
                        <h4 class="modal-title" style="color: gray;">Promover para?</h4>
                            </div>
                                <div class="center modal-body" style="display:none;">
                                <button onclick="selected = 'rainha'"> <img src="~/Content/IMG/GQueen.png" id="modalRainha"></button>
                            <button onclick="selected = 'cavalo'"><img src="~/Content/IMG/GHorse.png" id="modalCavalo"></button>
                        </div>
                    <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="" id="BTNCLOSEMODAL">Confirmar</button>
            </div>
        </div>
    </div>
</div> 
Fim do modal-->

<script>
    var main;

    initGame();

    var pawn;
    var selected = "rainha";
    /*$('#modalPromote').on('hidden.bs.modal', function (e) {
        var i = 0;
        var aux = false;
        main.pieces.forEach(
            function (p) {
                if (p == pawn)
                    aux = true;

                if (!aux)
                    i++;
            }
        );
        if (main.pieces[i].color == "brancas") {
            if (selected == "rainha")
                main.pieces[i] = new Rainha(main.pieces[i].getX(), main.pieces[i].getY(), main.pieces[i].color);

            if (selected == "cavalo")
                main.pieces[i] = new Cavalo(main.pieces[i].getX(), main.pieces[i].getY(), main.pieces[i].color);
        }
        else {
            if (selected == "rainha")
                main.pieces[i] = new Rainha(main.pieces[i].getX(), main.pieces[i].getY(), main.pieces[i].color);

            if (selected == "cavalo")
                main.pieces[i] = new Cavalo(main.pieces[i].getX(), main.pieces[i].getY(), main.pieces[i].color);
        }


        main.updateScreen();
    });

    $('#modalPromote').on('show.bs.modal', function (e) {
        document.getElementById("modalRainha").src = new Rainha(0, 0, pawn.color).getImage().src;
        document.getElementById("modalCavalo").src = new Cavalo(0, 0, pawn.color).getImage().src;
    });*/
</script>




