
@{
    ViewBag.Title = "História";
    
}

<link rel="stylesheet" type="text/css" href="~/Content/CSS/historia.css">

    <div class="fundo">
        <!-- <img src="https://images.pexels.com/photos/301469/pexels-photo-301469.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" class="imgTop"> -->
    </div>
    <div class="topo" onclick="topo()"><i class="fas fa-arrow-circle-up"></i></div>

    <div class="conteudo">
        <div class="back">
            <h1>História</h1>
            <p id="f3" class="wundefined">Origem do Xadrez</p><p id="f2" class="wundefined">A história do xadrez tem origem controversa, mas é possível afirmar que o jogo foi inventado na Ásia. Atualmente, a versão amplamente difundida é a de que teria surgido na Índia com o nome de Chaturanga e dali se espalhou para a China, Rússia, Pérsia e Europa, onde se estabeleceram as regras atuais. Pesquisas recentes indicam uma possível origem na China do século III a.C., na região entre o Uzbequistão e a Pérsia antiga (atual Irã).</p>
            <h1 id="f2" class="wundefined">Campeões Mundiais não-oficiais (até 1886)</h1>

            <p id="f3" class="wundefined">Karl Ernst Adolf Anderssen</p>
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/47/Anderssen.jpeg" <="" img="">
            <p id="f2" class="wundefined">Anderssen foi um brilhante enxadrista no ataque, com dois dos seus melhores jogos sendo conhecidos como a Partida Imortal e a Sempreviva respectivamente. Ele tem sido descrito como o primeiro mestre de xadrez moderno</p>

            <p id="f3" class="wundefined">Paul Charles Morphy</p>
            <img src="https://upload.wikimedia.org/wikipedia/commons/f/f0/Paul_Morphy.jpg" <="" img="">
            <p id="f2" class="wundefined">Anderssen foi decisivamente derrotado pelo Americano Paul Morphy em 1858, após o qual Morphy torrou outros enxadristas pelo mundo como o campeão mundial. Um jogador rápido (ele levava apenas alguns minutos para decidir seus movimentos, comparados com outros que "foram notórios em não pensar seus movimentos mas cansar seus oponentes", como Steinitz disse certa vez), e de posse de um talento assustador, ele disputou partidas contra vários dos principais enxadristas, massacrando a todos.</p>

            <h1 id="f2" class="wundefined">Campeões Oficiais antes da FIDE (1886-1946)</h1>

            <p id="f3" class="wundefined">Wilhelm Steinitz</p>
            <img src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Wilhelm_Steinitz2.jpg" <="" img="">
            <p id="f2" class="wundefined">Além de ser conhecido oficialmente como o primeiro campeão mundial de xadrez, Steinitz é também pioneiro no desenvolvimento de técnicas e estratégias quase científicas de jogo, que influenciariam todas as gerações seguintes.</p>

            <p id="f3" class="wundefined">Emanuel Lasker </p>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Bundesarchiv_Bild_102-00457%2C_Emanuel_Lasker.jpg/409px-Bundesarchiv_Bild_102-00457%2C_Emanuel_Lasker.jpg" <="" img="">
            <p id="f2" class="wundefined">Além de enxadrista, Lasker foi um conhecido matemático alemão, filósofo e amigo de Albert Einstein. Foi o primeiro a derrotar Steinitz no Campeonato Mundial, se tornando o segundo campeão mundial de xadrez e o jogador a manter o título por mais tempo: incríveis 27 anos. Ele se tornou famoso por utilizar a psicologia para realizar jogadas mais incômodas para seus adversários.</p>

            <p id="f3" class="wundefined">Jose Raúl Capablanca y Graupera</p>
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a2/Chess_Fever_Kapablanka.jpg" <="" img="">
            <p id="f2" class="wundefined">Considerado um dos mais brilhantes jogadores da história, Capablanca derrotou um campeão cubano aos 12 anos de idade. Seu conhecimento estratégico e raciocínio lógico se evidenciaram já aos 4 anos de idade, quando aprendeu a jogar apenas observando o seu pai. Ao derrotar Lasker, conseguiu o feito de se sagrar um dos únicos campeões mundiais de xadrez em um match sem derrotas, feito que só se repetiria em 2000, com Kramnik.</p>

            <p id="f3" class="wundefined">Alexander Alekhine</p>
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/0d/AlexanderAlekhine.jpg" <="" img="">
            <p id="f2" class="wundefined">O russo é conhecido como o único enxadrista campeão mundial a reter o título até a sua morte, no ano de 1946. Está vinculado a polêmicas de espionagem e nazismo, além do abuso de álcool, ao qual muitos creditam sua derrota para Max Euwe (campeão mundial de xadrez de 1935 a 1937), de quem viria a recuperar o título mundial tempos depois.</p>

            <p id="f3" class="wundefined">Max Euwe</p>
            <img src="https://upload.wikimedia.org/wikipedia/commons/b/b5/Max_Euwe_%281945%29.jpg" <="" img="">
            <p id="f2" class="wundefined">
                Nascido em Amsterdã, Euwe, além de enxadrista, foi um brilhante professor de matemática. O único campeão mundial que não era um atleta profissional. Seu nome esteve envolvido em uma das polêmicas do mundo do xadrez: após a morte de Alekhine, o holandês abriu mão do título de campeão — que muitos acreditavam que deveria ser dele — para disputar o campeonato com outros cinco jogadores, mas acabou terminando o torneio na última colocação.

            </p>


            <h1 id="f2" class="wundefined">Os campeões mundiais da era FIDE (1948-1993) - Domínio Soviético (1948 - 1972)</h1>

            <p id="f3" class="wundefined">Mikhail Botvinnik</p>
            <img src="https://upload.wikimedia.org/wikipedia/commons/b/ba/Mikhail_Botvinnik_1962.jpg" <="" img="">
            <p id="f2" class="wundefined">O enxadrista marcou a entrada da União Soviética nas competições mundiais de xadrez, e se tornou uma lenda por derrotar Capablanca, em uma simultânea, com apenas 14 anos. Deteve o título de campeão mundial em três períodos distintos utilizando aberturas técnicas estudadas previamente, em vez de jogadas mais intuitivas ou muito arriscadas. Foi o pioneiro do xadrez de “laboratório” e é o patriarca da escola soviética de treinamento.</p>

            <p id="f3" class="wundefined">Vasily Smyslov</p>
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/5d/Interpolisschaaktoernooi_Tilburg_1819_Smyslov_aan_zet%2C_Bestanddeelnr_929-3630.jpg" <="" img="">
            <p id="f2" class="wundefined">O enxadrista soviético tinha uma característica pessoal que o diferenciava dos outros campeões: também era um cantor de ópera — fato que acabou influenciando sua entrada nos campeonatos mundiais de xadrez, logo após ser recusado pelo Bolshoi. Em 1984 tornou-se o mais velho finalista do ciclo de candidatos ao Campeonato Mundial, quando foi derrotado por Kasparov. Seu xadrez se destacava pela harmonia.</p>

            <p id="f3" class="wundefined">Mikhail Nekhemievich Tal, o Mago de Riga</p>
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Hoogovenschaaktoernooi%2C_de_Rus_M._Tal%2C_Bestanddeelnr_920-9788.jpg" <="" img="">
            <p id="f2" class="wundefined">Considerado um dos melhores jogadores de ataque da história, por conta do seu estilo agressivo e pouco técnico, Tal foi o mais jovem campeão mundial de xadrez em sua época, aos 24 anos — recorde quebrado apenas em 1985 por Kasparov, de 22 anos. Até a sua morte, em 1992, conseguiu o feito de se manter na lista dos 15 melhores jogadores do mundo. Mesmo tendo um curto reinado, “Misha” é um dos enxadristas mais reverenciados da história.</p>

            <tigran Conhecido pelo seu xadrez sólido e posicional, o armênio foi também o único jogador a derrotar Bobby Fischer no ciclo de candidatos em 1971, após o americano conseguir uma histórica sequência consecutiva de 19 vitórias. Tigran deixou duas marcas importantes no xadrez posicional: o desenvolvimento da profilaxia (antecipar as intenções do adversário) e do sacrifício posicional de qualidade.

					<borris O enxadrista russo começou a jogar os 5 anos de idade até se tornar um jovem grande mestre e, anos depois, ganhar o título mundial. Seu estilo de jogo se tornou lendário pela flexibilidade de conseguir adaptar suas táticas, na hora da partida, às jogadas e estratégias utilizadas pelos seus adversários. Suas vitórias mais marcantes foram contra Tal e Petrosian, e a sua derrota mais significativa foi contra o americano Bobby Fischer, no auge da Guerra Fria — o que tornou o match um símbolo da disputa entre EUA e URSS.

					<p id="f3" class="wundefined">Fischer (1972 - 1975)</p>

					<p id="f3" class="wundefined">Robert James "Bobby" Fischer </p>
					<img src="https://s.hdnux.com/photos/07/16/64/1895738/7/920x920.jpg" <="" img="">
					<p id="f2" class="wundefined">Considerado por muitos o melhor enxadrista de todos os tempos, Fischer é um nome reconhecido até hoje, mesmo após a sua morte aos 64 anos. Enfrentou sozinho toda a escola soviética e conseguiu derrotá-los. Detentor de um QI comparável ao de Einstein e de um amor incomparável pelo xadrez, Bobby infelizmente não quis defender seu título contra Karpov e praticamente abandonou o xadrez após se tornar campeão mundial. Teve uma vida recheada de polêmicas e foi lentamente perdendo a sanidade e discernimento, mas alguns dos seus feitos nos tabuleiros até hoje não têm paralelos.</p>

					<p id="f3" class="wundefined">Karpov e Kasparov (1975-1993)</p>

					<p id="f3" class="wundefined">Anatoly Evienvich Karpov</p>
					<img src="https://upload.wikimedia.org/wikipedia/commons/0/06/Anatoli_Karpow.jpg" <="" img="">
					<p id="f2" class="wundefined">Conhecido como um dos melhores enxadristas do século e o primeiro a ganhar o título de campeão mundial sem disputar uma final, por conta da desistência de Fischer após uma série de desentendimentos com a FIDE. Após uma série de vitórias durante dez anos, perdeu o campeonato, e outras três disputas em 1986, 1987 e 1990, para Kasparov. Conseguiu recuperar o título de campeão mundial somente após a saída do seu maior rival da FIDE. O seu estilo posicionalmente sutil é dono de uma beleza singular.</p>

					<p id="f3" class="wundefined">Garry Kasparov - 1985 a 1992</p>
					<img src="https://upload.wikimedia.org/wikipedia/commons/0/07/Kasparov-36.jpg" <="" img="">
					<p id="f2" class="wundefined">Foi o responsável pela criação da PCA (Associação Profissional de Xadrez), após o rompimento com a única federação de xadrez da época, a FIDE (Federação Internacional de Xadrez), em parceria com o também enxadrista e finalista mundial Nigel Short, em 1993. No mesmo ano, o duelo entre os competidores selou a primeira vitória mundial de Kasparov na PCA, e ficou conhecido como um momento único para o xadrez: a primeira vez na história em que o esporte teve dois campeões mundiais, já que Anatoly Karpov havia ganhado a competição final da federação rival, FIDE. Kasparov é, considerado pela crítica o melhor enxadrista de todos os tempos.</p>

					<h1 id="f2" class="wundefined">Título dividido (1993 - 2006) - PCA</h1>


					<p id="f3" class="wundefined">Garry Kasparov - 1993–2000</p>
					<img src="https://timedotcom.files.wordpress.com/2015/02/karsparov.jpeg" <="" img="">

					<p id="f3" class="wundefined">Vladimir Borisovich Kramnik 2000–2006</p>
					<img src="https://upload.wikimedia.org/wikipedia/commons/2/2d/Vladimir_Kramnik_2005.jpg" <="" img="">
					<p id="f2" class="wundefined">O enxadrista russo, atualmente com mais de 40 anos, aprendeu os conceitos básicos de xadrez aos cinco anos. Em 2000 venceu Kasparov em um match cercado de polêmicas (ele não havia se classificado para enfrentá-lo). Mesmo sendo o azarão, derrotou seu lendário adversário vencendo 2 partidas e empatando as restantes, em um confronto que popularizou a Defesa Berlinesa. Em 2006 venceu o Campeão Mundial da FIDE (Topalov) e unificou os títulos de Campeão Mundial.</p>

					<h1 id="f2" class="wundefined">Título dividido (1993 - 2006) - FIDE</h1>



					<p id="f3" class="wundefined">Anatoly Evienvich Karpov - 1993–1998</p>
					<img src="https://upload.wikimedia.org/wikipedia/commons/0/06/Anatoli_Karpow.jpg" <="" img="">
					<p id="f2" class="wundefined"></p>

					<p id="f3" class="wundefined">Alexander Valeryevich Khalifman - 1999–2000</p>
					<img src="https://www.chessopenings24-7.com/wp-content/uploads/2016/01/news20140127-300x265.png" <="" img="">

					<p id="f3" class="wundefined">Viswanathan Anand - 2000–2001</p>
					<img src="https://upload.wikimedia.org/wikipedia/commons/2/2a/VishyAnand09.jpg" <="" img="">
					<p id="f2" class="wundefined"></p>

					<p id="f3" class="wundefined">Ruslan Ponomariov	- 2002–2003</p>
					<img src="https://upload.wikimedia.org/wikipedia/commons/6/63/Ponomariov_2010_Dortmund.jpg" <="" img="">
					<p id="f2" class="wundefined"></p>

					<p id="f3" class="wundefined">Rustam KasimdzhanoV - 2004–2005</p>
					<img src="https://upload.wikimedia.org/wikipedia/commons/1/12/Kasimdhzanov_Torino_2006.JPG" <="" img="">
					<p id="f2" class="wundefined"></p>

					<p id="f3" class="wundefined">Veselin Topalov - 2005–2006</p>
					<img src="https://rafaelleitao.com/wp-content/uploads/2018/12/8db0591c-b4d1-4530-928e-dfa893cf1c23_image8.jpg" <="" img="">
					<p id="f2" class="wundefined"></p>

					<h1 id="f2" class="wundefined">Reunificação do título - (2006–atualidade)</h1>


					<p id="f3" class="wundefined">Vladimir Borisovich Kramnik - 2007–2013</p>
					<img src="https://upload.wikimedia.org/wikipedia/commons/2/2d/Vladimir_Kramnik_2005.jpg" <="" img="">
					<p id="f2" class="wundefined"></p>

					<p id="f3" class="wundefined">Viswanathan Anand - 2000–2001</p>
					<img src="https://upload.wikimedia.org/wikipedia/commons/2/2a/VishyAnand09.jpg" <="" img="">
					<p id="f2" class="wundefined">Conhecido como o “desportista indiano do milênio”, Anand é uma celebridade na Índia, local onde nasceu, e responsável pelo ensino de xadrez para milhões de crianças no país. Está sempre participando dos maiores torneios mundiais e figura entre os cinco melhores jogadores do mundo há mais de uma década. É unanimemente considerado um dos maiores gênios da história do xadrez.</p>

					<p id="f3" class="wundefined">Sven Magnus Øen Carlsen (Magnus Carlsen) - 2013–atualmente</p>
					<img src="https://www.chess-site.com/wp-content/uploads/MagnusCarlsen-1.jpg" <="" img="">
					<p id="f2" class="wundefined">O norueguês de 25 anos é considerado o “Mozart” do xadrez, graças a seu talento precoce. Campeão mundial de xadrez desde 2013, conquistou o título após derrotar Anand por 6,5 a 3,5. É o enxadrista com maior pontuação de rating na história e atualmente não parece ter rivais à altura.</p>

					<p>Fonte:https://rafaelleitao.com/campeoes-mundiais-xadrez/
							 https://pt.wikipedia.org/wiki/Campeonato_Mundial_de_Xadrez
					</p>


        </div> 
    </div>
    <script type="text/javascript" src="../Scripts/editt.js"></script>
