
@{
    ViewBag.Title = "História";
    Layout = "~/Views/Shared/_LayoutEdit.cshtml";
}

<link rel="stylesheet" type="text/css" href="../../../../css/historia.css">

<div class="conteudo">
    <div class="back">
        <h1>História</h1>
    </div>
</div>
<script type="text/javascript" src="../Scripts/editt.js"></script>