
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/perfil.css">
<br><br><br>
<div class="data">
    <div class="nameImg">
        <div class="imageUser"></div>
        <div class="name"><h1>Naruto</h1></div>
    </div>
    <br>
    <div class="information">
        <span>E-mail:  naruto@gmail.com</span><br>
        <span>Amigos: 33</span><br>
        <span>Partidas: 100000</span><br>
        <span>Vitórias: 100000</span>
    </div>

    <a class="friends" id="friends" onclick="amigos()"><i class="fas fa-user-friends"></i> <br>Enviar Pedido de Amizade</a> <br><br>
</div>

<div class="topo" onclick="topo()"><i class="fas fa-arrow-circle-up"></i></div>


<script>
    function amigos() {
        if (document.getElementById('friends').innerHTML == `<i class="fas fa-user-friends"></i>`) {
            $(".friends").toggleClass("ef");
            document.getElementById('friends').innerHTML = `<i class="fas fa-user-friends"></i> <br>Enviar Pedido de Amizade`;
        }
        else {
            $(".friends").toggleClass("ef");
            document.getElementById('friends').innerHTML = `<i class="fas fa-user-friends"></i>`;
        }




    }
</script>



