

<link rel="stylesheet" type="text/css" href="~/Content/CSS/regras.css">



<div class="fundo">
    <!-- <img src="https://images.pexels.com/photos/301469/pexels-photo-301469.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" class="imgTop"> -->
</div>

<div class="conteudo">

    <canvas id="myChart" width="100" height="100"></canvas>

    <div class="topo" onclick="topo()"><i class="fas fa-arrow-circle-up"></i></div>

    <div class="back">
        <h1>Regras</h1>
        <p id="fundefined" class="wundefined">
            Por convenção, o jogador com as peças brancas inicia a partida e a partir de então os movimentos são alternados. O jogador é obrigado a realizar um movimento não sendo possível passar a vez mesmo que isso seja desvantajoso (zugzwang). A partida continua até que um jogador aplique o xeque-mate, isto é, ameaça a captura do Rei adversário de tal modo que este não consegue escapar ou impedir o ataque, ou um dos jogadores abandone a partida, ou o empate seja declarado. Adicionalmente, se um jogo é disputado sob o controle do tempo o jogador que exceder seu tempo automaticamente perde.
        </p><p id="f1" class="wundefined">
        </p>
        <img src="https://i.brainking.com/rules/chess/64.gif" <="" img="">
        <p id="f2" class="wundefined">
            Todas as peças (com exceção do cavalo), independente de quantas casas andem, têm seu raio de ação limitado pelas outras peças, amigas ou inimigas. Caso uma peça amiga esteja em seu caminho, ela não poderá parar na casa desta peça amiga, ou em qualquer outra casa que, para chegar nela, deve passar pela casa ocupada. No caso de uma peça inimiga, ainda não é permitido chegar em uma casa passando pela casa ocupada, porém, é possível capturar a peça adversária, removendo-a de jogo e posicionando a peça captora na casa que a peça inimiga ocupava.
        </p>

        <p id="f2" class="wundefined">
            A Torre se movimenta nas direções ortogonais, isto é, pelas linhas (horizontais) e colunas (verticais), não podendo se mover pelas diagonais. Ela pode mover quantas casas desejar pelas colunas e linhas, porém, apenas em um sentido em cada jogada.
        </p>

        <p id="f2" class="wundefined">
            O Bispo se movimenta nas direções diagonais, ou seja, na direção das casas da mesma cor. Ele pode mover quantas casas desejar pelas diagonais, porém, apenas em um sentido (cada jogada), existe o bispo da casa preta e o bispo da casa branca, e os mesmos não podem mudar de cor durante o jogo.
        </p>
        <p id="f2" class="wundefined">
            A Dama é a peça mais poderosa, pois pode movimentar-se quantas casas quiser ou puder, na diagonal, vertical ou horizontal, porém, apenas em um sentido em cada jogada, a dama (ou rainha) anda com os movimentos de todas as outras peças (exceto o cavalo), andando quantas casas quiser.
        </p>
        <p id="f2" class="wundefined">
            O Rei pode se mover em todas as direções somente uma casa de cada vez, desde que o movimento não seja para uma casa ameaçada por uma peça adversária. O rei também pode capturar qualquer peça adversária, desde que a mesma não tenha outra peça defendendo-a. Um Rei nunca poderá dar xeque a outro Rei.
        </p>
        <p id="f2" class="wundefined">
            O movimento do Cavalo é em "forma de L", ou seja, anda duas casas na horizontal ou vertical e depois uma casa na vertical ou horizontal, ou vice-versa. O cavalo pode saltar sobre qualquer peça sua ou do adversário. A captura ocorre quando uma peça adversária se encontra na casa final do movimento realizado pelo cavalo.
        </p>
        <p id="f2" class="wundefined">
            O Peão move-se em coluna (vertical) somente para a frente e uma casa, nunca para trás. Quando um peão alcança a última fileira do tabuleiro (fileira 8 para as brancas ou 1 para as pretas) ele é promovido, tornando-se uma Torre, Bispo, Cavalo ou Dama, conforme o desejo do jogador.
        </p>
        <p id="f2" class="wundefined">
            Cada peão, em seu primeiro movimento, pode optar por mover uma ou duas casas, desde que exista esta opção (casas livres à sua frente). O movimento de captura do peão é diferente da forma com que ele movimenta-se, ou seja, a captura é feita em diagonal, podendo capturar a peça que se encontra na diagonal próxima, à frente. Se um peão encontrar uma peça adversária à sua frente, ele ficará impedido de se mover até que apareça uma peça adversária em sua diagonal para ser capturada.
        </p>

        <h1 id="fundefined" class="wundefined">Movimentos extraordinários</h1>
        <p id="f3" class="w1">Roque</p>
        <p id="f2" class="w1">O roque consiste em mover o Rei duas casas em direção a torre, e então mover a torre para a casa do outro lado Rei, adjacente a ele. Não é permitido mover o Rei e a Torre ao mesmo tempo porque cada movimento deve ser realizado somente com uma das mãos. O movimento só é permitido nas seguintes condições:

        <p id="f2" class="w1">
            O Rei e a Torre envolvida não tenham sido previamente movidos;
        </p>
        <p id="f2" class="w1">
            Não exista peças entre o Rei e a Torre;
        </p>

        <p id="f2" class="w1">
            O Rei não pode estar em xeque, passar ou terminar o movimento em uma casa ameaçada pelo tabuleiro. Entretanto, a Torre pode estar sendo ameaçada ou passar por uma casa ameaçada, no caso do roque grande, durante o movimento;
        </p>
        <p id="f2" class="w1">
            O Rei e a Torre devem estar na mesma fileira.
        </p>
        <p id="f3" class="w1">Tomada en passant</p>
        <p id="f2" class="w1">
            Quando um peão estiver na quinta casa, ou seja, tiver sido movimentado três casas além da sua casa de origem e um peão adversário, da coluna ao lado da sua, executar o seu primeiro movimento saltando duas casas, fugindo do confronto com o peão que já tinha movido três casas, este peão poderá ser capturado en passant e o peão que realiza a captura irá ocupar a casa que o adversário saltou ao mover duas casas. Esta captura somente poderá ser feita imediatamente após o lance feito pelo adversário (movimento de duas casas), caso contrário não poderá mais ser feita
        </p>

        <p id="f3" class="w1">Promoção de Peão</p>
        <p id="f2" class="w1">
            Se um peão avança até a oitava fileira é então promovido a uma dama, torre, bispo ou cavalo da mesma cor, sendo a escolha opção do jogador. A escolha não é limitada as peças previamente capturadas, sendo portanto possível um jogador ter dez torres, ou bispos, ou cavalos se todos os seus peões forem promovidos. Se a peça o qual deseja promover o peão não estiver disponível, o jogador deve chamar o árbitro que proverá a peça. De acordo com o árbitro internacional Eric Schiller, se uma peça adequada não está disponível, um peão ao lado da torre pode ser usada e o jogador indica qual peça representa. Em uma partida formal com um árbitro presente, o árbitro deve substituir o peão ou torre pela peça apropriada.
        </p>

        <h1 id="f3" class="w1">Empate</h1>
        <p id="f3" class="w1">Uma partida é considerada empatada, quando:</p>

        <p id="f2" class="w1">
            O jogador ao qual cabe o lance não puder realizar nenhuma jogada legal, com o rei ou qualquer outra peça, o seu rei não tiver opção de movimento e não se encontrar em xeque. Esse empate é conhecido como pat pelos franceses, ahogado em espanhol, ou simplesmente empate por afogamento, rei afogado.
        </p>
        <p id="f2" class="w1">
            Um dos jogadores propuser e o outro aceitar o empate.
        </p>
        <p id="f2" class="w1">
            Em campeonatos, a regra é um pouco mais restrita: um jogador deve propor o empate enquanto seu tempo estiver correndo, e acionar o relógio. O outro jogador deve anunciar que aceita o empate, recusar, ou simplesmente fazer a sua jogada, sinal que recusou o pedido, e não poderá mais tarde (se a situação do tabuleiro mudar) "aceitar" o empate. Após essa recusa, apenas o jogador que recusou o empate pode fazer outra proposta, para evitar que um jogador fique constantemente pedindo empate, incomodando o adversário. Esse modo de propor o empate é o correto, e não o visto no filme americano Lances Inocentes, onde o protagonista estende a mão declarando empate, aguardando o seu oponente apertá-la como sinal de que aceita.
        </p>
        <p id="f2" class="w1">
            Nenhum dos jogadores contar com material suficiente para dar xeque-mate no adversário. É considerado material insuficiente dois reis sozinhos, o rei e um bispo, o rei e um cavalo ou o rei e dois cavalos contra um rei sozinho. Isso não significa, portanto, que não é possível dar um mate apenas com um cavalo. Mas só é possível se houver outras peças inimigas impedindo o caminho do rei inimigo. O mate com dois cavalos e rei contra rei só ocorre se o oponente errar ao fugir com o rei, portanto dois cavalos são considerados como material insuficiente para dar mate.\n
        </p>
        <p id="f2" class="w1">
            Por causa da promoção, um peão sempre é considerado "material" suficiente para mate, embora ele como peão não possa sozinho (ou com ajuda do rei) dar xeque mate.
            Ocorrer um xeque-perpétuo, em que um jogador pode ficar permanentemente colocando o rei do outro em xeque, não importa o que o outro faça, sem que o jogador manifeste intenção de jogar diferentemente.
        </p>
        <p id="f2" class="w1">
            São efetuados 50 lances em sequência sem captura de peças e sem movimento de peões. Sempre que houver uma captura ou um lance de peão, recomeça a contagem de 50 lances.
            Uma dada posição ocorrer três vezes durante uma partida. Isto implica repetir a posição das peças, o lado a fazer o lance, e os lances possíveis. Se, por exemplo, na primeira vez que a posição se repetir um dos jogadores tiver direito de fazer roque e nas outras duas não tiver, não é a mesma posição. Da mesma forma, se o jogador ao qual cabe o lance tinha direito de fazer a captura en passant na primeira vez que a posição apareceu, então também não é a mesma posição.
        </p>
    </div>

</div>


<script src="~/Content/JS/Chart.js"></script>

<script>
    var data = {
        labels: ['Mover a mesma peça mais de uma vez na abertura', 'Travar o desenvolvimento das proprias peças', 'Deixar o Rei deprotegido ', 'Pendurar peças', 'Sacrificar peão sem compensação', 'Medo de usar a rainha'],
        datasets: [{
            type: 'line',
            label: '% dos erros',
            borderColor: "#BA1E14",
            backgroundColor: "#BA1E14",
            pointBorderWidth: 5,
            fill: false,
            data: [50, 80, 90, 96, 99, 100],
            yAxisID: 'y2'
        },
        {
            type: 'bar',
            label: 'Quantidade de Erros',
            data: [25, 15, 5, 3, 2, 1],
            yAxisID: 'y1',
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    };

    var options = {
        scales: {
            yAxes: [{
                stacked: true,
                scaleLabel: {
                    display: true,
                    labelString: "Erros"
                },
                ticks: {
                    beginAtZero: true
                }
            }],
            yAxes: [{
                type: "linear",
                position: "left",
                id: "y1",
                stacked: true,
                ticks: {
                    suggestedMin: 0
                },
                scaleLabel: {
                    display: true,
                    labelString: "Quantidade de erros"
                }
            }, {
                type: "linear",
                position: "right",
                id: "y2",
                ticks: {
                    suggestedMin: 0,
                    callback: function (value) {
                        return value + "%";
                    }
                },
                scaleLabel: {
                    display: true,
                    labelString: "Porcentagem"
                }
            }]
        }
    }

    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: data,
        options: options
    });

</script>

<script type="text/javascript" src="../Scripts/editt.js"></script>