
@{
    ViewBag.Title = "SobreNos";
    Layout = "~/Views/Shared/_LayoutEdit.cshtml";
}


<link rel="stylesheet" type="text/css" href="~/Content/CSS/sobreNos.css">
<script type="text/javascript" src="~/Content/JS/Chart.js"></script>

<div class="conteudo" style="background: white;">
    
    <canvas id="myChart" width="100" height="100"></canvas>
</div>



<script type="text/javascript" src="../Scripts/editt.js"></script>