<!DOCTYPE html>
<html>
<head>
    <!-- <link rel="stylesheet" type="text/css" href="../css/menu.css"> -->
    <link rel="stylesheet" type="text/css" href="~/Content/home.css">
    <script type='text/javascript' src='../javascript/menu.js'></script>
    <link rel="shortcut icon" type="imagem/x-icon" href="/images/genkii-icon.ico" />
    <title>Arce Chess - Home</title>

    <link href="https://fonts.googleapis.com/css?family=MedievalSharp|Srisakdi" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo+2|Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Allura" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
    <script src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous'></script>
    <meta charset="utf-8">
    <script>
// 		$(window).on("scroll",function() {
//         navHeight = $('.menu').outerHeight(),
//         windowTop = $(this).scrollTop();

//     if (windowTop > navHeight) {
//         $('.menu').addClass("scrolling");
//     } else {
//         $('.menu').removeClass("scrolling");
//     }
// });

    </script>
</head>
<body>

    <div class="navbar">
        <a href="home.html">
            <span class="testTit">
                Arce Chess <i class="fas fa-chess"></i>
            </span>
        </a>

        <a href="perfil.html"> <div class="perfil"><img src="https://media1.tenor.com/images/508fe7a0908b87ea1de36391094a1049/tenor.gif?itemid=9214816" alt=""></a>
    </div></a>
    </div>


    <div id="menuToggle" class="elMenu">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul class="menu">

            <a href="/play" id="play" class="btnGame">Jogar</a>
            <a href="regras.html" id="rules" class="btnRegras">Regras</a>
            <a href="historia.html" id="history" class="btnHistoria">História</a>
            <a href="chat.html" id="chat" class="btnChat">Chat</a>
            <a href="sobreNos.html" id="criadores" class="btnSobreNos">Sobre Nós</a>
        </ul>

    </div>

    

    <div class="topo"><i class="fas fa-arrow-circle-up"></i></div>
    <div class="container body-content">
        @RenderBody()

    </div>


</body>
</html>
